/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: white;
  vertical-align: baseline;
}
input[type=submit] {
  background: black;
  color: white;
  transition: none;
}
input[type=submit]:hover {
  background-color: red;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #455a64;
    font-family: lato, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}









/*MY STYLES*/
#wrapper{
    background: black;
    height: 80px;
}
h1 {
  text-align: center;
  font-size: 300%;
}
#salir{
    float:right;
    transform:translateY(-80%);
    width:10%;
    height:30px;
    color: white;
  background-color: black;
}
#salir:hover{
    background-color: red;
}
h2 {
  margin-top: 50px;
  font-size: 300%;
  margin-bottom: 40px;
    text-align: center;
}
#usuarios {
  float: left;
  width: 14.2%;
  height: 50px;
  background-color: #1c313a;
  color: white;
  border-color: #1c313a;
  display: block;
}
#servicios {
  float: left;
  width: 14.2%;
  height: 50px;
  background-color: #1c313a;
  color: white;
  border-color: #1c313a;
}
#productos {
  float: left;
  width: 14.2%;
  height: 50px;
  background-color: #1c313a;
  color: white;
  border-color: #1c313a;
  display: block;
}
#fumigadores {
  float: left;
  width: 14.8%;
  height: 50px;
  background-color: #1c313a;
  color: white;
  border-color: #1c313a;
  display: block;
}
#clientes {
  float: left;
  width: 14.2%;
  height: 50px;
  background-color: #1c313a;
  color: white;
  border-color: #1c313a;
  display: block;
}
#proveedores {
  width: 14.2%;
    float:left;
  height: 50px;
  background-color: #1c313a;
  color: white;
  border-color: #1c313a;
}
#reportes {
  width: 14.2%;
  height: 50px;
  background-color: #1c313a;
  color: white;
  border-color: #1c313a;
}
hover {
  width: 100%;
  padding: 0;
}
active {
  background: black;
  color: white;
  transition: none;
}
#usuarios:hover {
  background-color: red;
}
#servicios:hover {
  background-color: red;
}
#productos:hover {
  background-color: red;
}
#fumigadores:hover {
  background-color: red;
}
#clientes:hover {
    background-color: red;
}
#proveedores:hover {
  background-color: red;
}
#reportes:hover {
  background-color: red;
}
table {
  width: 70%;
  margin: 0 auto;
}
tr {
  padding-top: 12px;
  padding-bottom: 17px;
}
td {
  width: calc(100 / 6);
     border: 3px solid black;
}
th {
  border: 3px solid black;
}
th,
td {
  background-color: #1c313a;
  padding-top: 12px;
  padding-bottom: 17px;
  text-align: center;
  color: white;
  width: calc(100 / 6);
}
#regresar {
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}
#regresarboton {
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    border:none;
    background-color: transparent;
    color: white;
}
#intento:hover{
    background-color: red;
}
#nom {
  margin-top: 40px;
  margin-bottom: 6px;
    margin-left: 20%;
}
#usertoconsult {
  margin-bottom: 35px;
    background-color: #718792;
    width:20%;
    margin-left: 20%;
}
#buscar {
  width: 100px;
  height: 25px;
  color: white;
  background-color: black;
  border-radius: 10px;
}
#buscar:hover{
    background-color: red;
}
td {
  color: white;
}
#nav{
    display: block;
}
#intento{
    margin-top: 10%;
    background-color: #232529;
    width:20%;
    margin: 0 auto;
    height: 40px;
    border-radius: 20px;
}
#eliminar{
    background-color: #232529;
    color:white;
}
#eliminar:hover{
    background-color: red;
}
#modificar{
    background-color: #232529;
    color:white;
     margin-bottom: 10px;
}
#modificar:hover{
    background-color: red;
}