/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: white;
  vertical-align: baseline;
}
input[type=submit] {
  background: black;
  color: white;
  transition: none;
}
input[type=submit]:hover {
  background-color: red;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #455a64;
        font-family: lato, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*MY STYLES*/
#wrapper{
    background-color: black;
    height: 60px;
    margin-bottom: 40px;
}
#box {
  background-color: #1c313a;
  width: 60%;
  margin: 0 auto;
  height: 450px;
  transform: translateY(40%);
}
h1{
 margin-bottom: 40px;   
}
#titulo {
  text-align: center;
    margin-bottom: 5%;
}
#regresar {
  height: 50px;
  float: left;
  transform: translateY(210%);
    font-size: 15px;
}
#regresar:hover{
    background-color: red;
    text-decoration: none;
}
#box2 {
  text-align: center;
}
#registrar{
    transform: translate(-126%,160%)
}
#registrar:hover{
    background-color: red;
}
#correo{
    transform: translateX(20%);
}
#box3{
    text-align: center;
    transform: translateY(100%);
    height: 50px; 
}
#regresarR{
    font-size: 170%;
    text-decoration: none;
    margin-bottom: 5%;
}
#regresarM{
    font-size: 170%;
    text-decoration: none;
}
#provider{
    width: 20%;
    transform: translateX(25%);
}
#regresar2{
    height: 50px;
  float: left;
  transform: translate(40%,280%);
    font-size: 15px;
    text-decoration: none;
}
#regresar2:hover{
    background-color: red;
}
#registrar2{
    transform: translate(-100%,160%);
}
#registrar2:hover{
    background-color: red;
}
#regresar3 {
  height: 50px;
  float: left;
  transform: translateY(50%);
    font-size: 15px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color:white;
}
#regresar3:hover{
    background-color: red;
}
#regresar4{
    width: 60%;
    height: 140px;
    margin-top: 10%;
    text-decoration: none;
}
#regresar4:hover{
    background-color: red;
}
#registrar3{
     margin-top: 2%;
}
#registrar3:hover{
    background-color: red;
}
#regresar5{
     height: 50px;
  float: left;
  transform: translateY(-40%);
    font-size: 15px;
    text-decoration: none;
}
#regresar5:hover{
    background-color: red;
}
#boxerror{
     background-color: red;
  width: 60%;
  margin: 0 auto;
  height: 450px;
  transform: translateY(40%);
}
#intento{
    background-color: gray;
    width:25%;
    margin: 0 auto;
}
#intento:hover{
    background-color: darkgray;
}
#caja{
     background-color: #1c313a;
  width: 60%;
  margin: 0 auto;
  transform: translateY(20%);
}
#exito{
    font-size: 50px;
    margin-bottom: 100px;
}
#regresarboton{
    width: 30%;
    background-color: #232529;
    border: none;
    color: white;
    font-size: 50px;
}
#regresarboton:hover{
    background-color: red;
}